body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  min-height: 100vh;
  background-color: rgba(2, 80, 197, 0.644);
}
@media (max-width: 620px) {
  .navl > ul {
    display: none;
  }
  .cabecera > img {
    display: block;
  }
  .text > h2 {
    font-size: 16px;
  }
  .patroc4 > img {
    max-width: 120px;
    gap: 5px;
  }
  .text {
    width: 90%;
    min-width: 0px;
  }
}
.navl {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}
.tuerca {
  display: none;
  padding-left: 8%;
  padding-top: 3%;
  width: 65px;
  height: 65px;
}
.cabecera {
  background-color: rgba(2, 80, 197, 0.644);
  display: flex;
  padding: 1px;
  justify-content: space-between;
  height: 10vh;
  font-size: 15px;
}
.listacabecera {
  display: flex;
  font-size: 15px;
  padding: 5px;
  justify-content: space-between;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
}
.cuerpo {
  background-color: rgb(98, 152, 218);
  display: flex;
  align-items: center;
  min-height: 70svh;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 20px;
}
.text {
  width: 35%;
  min-width: 500px;
}
.imagen {
  padding: 5%;
  max-width: 400px;
  min-width: 300px;
}

footer {
  left: 0;
  width: 100%;
  gap: 5%;
  background-color: rgba(2, 80, 197, 0.644);
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
  height: 20vh;
}
#imgp {
  max-width: 400px;
  border-radius: 20px;
  box-shadow: 10px 5px 10px rgba(2, 80, 197, 0.644);
  margin: 10px;
}

.contacto {
  display: flex;
  min-width: none;
  padding: 10px;
  gap: 50px;
}

a,
li {
  text-decoration: none;
  color: aliceblue;
}
.admin > li:first-child,
.taller > li:first-child {
  font-weight: bolder;
}
.admin,
.taller {
  width: 100px;
  list-style-type: none;
}
.patroc {
  max-width: 200px;
  gap: 10px;
}
.boton {
  background-color: rgb(5, 53, 96);
  color: aliceblue;
  box-shadow: 10px 5px 10px rgba(32, 63, 125);
  border: 1px solid black;
  border-radius: 10px;
  padding: 15px 25px;
  cursor: pointer;
  border: none;
  display: flex;
  margin-top: 30px;
  gap: 30px;
  font-weight: bolder;
  justify-content: center;
}
h1 {
  color: aliceblue;
}
h2 {
  font-size: 30px;
}
p {
  font-size: 15px;
}
div {
  padding: 5px;
}
